In [ ]:
# DEFINE DATASET !!!!!!!!!!! 
# prev and next

In [157]:
import re
import math
import warnings
warnings.filterwarnings("ignore")
import datetime
import operator
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [158]:
pd.set_option('display.max_columns', 550)
pd.set_option('display.max_rows', 550)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [159]:
# no students
mask_mar_apr_ns = pd.read_csv("C:/Documents/HIGHER_BUNDLES/database_y/higher_bundles_mar_apr.csv", sep='|', parse_dates= ["DAY_MONTH"], dayfirst=True)
mask_may_ns = pd.read_csv("C:/Documents/HIGHER_BUNDLES/database_y/higher_bundles_may.csv", sep='|', parse_dates= ["DAY_MONTH"], dayfirst=True)
# students
mask_mar_students = pd.read_csv("C://Documents/HIGHER_BUNDLES/database_y/Y_students_MAR22.csv", sep='|', parse_dates= ["DAY_MONTH"], dayfirst=True)
mask_apr_students = pd.read_csv("C://Documents/HIGHER_BUNDLES/database_y/Y_students_APR22.csv", sep='|', parse_dates= ["DAY_MONTH"], dayfirst=True)
mask_may_students = pd.read_csv("C://Documents/HIGHER_BUNDLES/database_y/Y_students_MAY22.csv", sep='|', parse_dates= ["DAY_MONTH"], dayfirst=True)

In [160]:
mask_mar_ns = mask_mar_apr_ns[(mask_mar_apr_ns["DAY_MONTH"] >= '2022-03-01') & (mask_mar_apr_ns["DAY_MONTH"] <= '2022-03-31')]
mask_apr_ns = mask_mar_apr_ns[(mask_mar_apr_ns["DAY_MONTH"] >= '2022-04-01') & (mask_mar_apr_ns["DAY_MONTH"] <= '2022-04-30')]

In [161]:
mask_mar_ns.head()

# APPEND TWO Y DATASETS

# MARCH

In [162]:
mask_mar_ns.shape
mask_mar_students.shape

(437973, 10)

(191954, 3)

In [163]:
# Append two y datasets and drop duplicates
mask_mar = mask_mar_ns.append(other=mask_mar_students, ignore_index=True)
mask_mar.shape

(629927, 10)

In [164]:
mask_mar[mask_mar["MSISDN"].duplicated()].shape

(55540, 10)

# APRIL

In [165]:
mask_apr_ns.shape
mask_apr_students.shape

(411949, 10)

(185874, 3)

In [166]:
# Append two y datasets and drop duplicates
mask_apr = mask_apr_ns.append(other=mask_apr_students, ignore_index=True)
mask_apr.shape

(597823, 10)

In [167]:
mask_apr[mask_apr["MSISDN"].duplicated()].shape

(35368, 10)

# MAY

In [168]:
mask_may_ns.shape
mask_may_students.shape

(414296, 10)

(194589, 3)

In [169]:
# Append two y datasets and drop duplicates
mask_may = mask_may_ns.append(other=mask_may_students, ignore_index=True)
mask_may.shape

(608885, 10)

In [170]:
mask_may[mask_may["MSISDN"].duplicated()].shape

(42521, 10)

# DEFINE MY DATASET FOR PROCESSING

In [171]:
# MARCH
mask_prev = mask_mar
mask_next = mask_apr

out_dir = 'C:/Users/zagkoui/OneDrive - Vodafone Group/Documents/HIGHER_BUNDLES/database_y/Y_MAR_APR_22.csv'

# APRIL
# mask_prev = mask_apr
# mask_next = mask_may

# out_dir = 'C:/Users/zagkoui/OneDrive - Vodafone Group/Documents/HIGHER_BUNDLES/database_y/Y_APR_MAY_22.csv'

In [172]:
mask_prev["BUNDLE_NAME"].value_counts()

Voice/SMS Bundle CU Combo 500+100 Subscription        375141
Combo Bundle CU Student Xclusive 7 Subscription       134460
Combo Bundle CU 10E Subscription                       49288
Combo Bundle CU Student Xclusive 10 Subscription       35539
Combo Bundle CU Student Xclusive 12 Subscription       20839
Combo Bundle CU 700+700+700MB Subscription             13109
Combo Bundle CU Student Xclusive 17.5 Subscription      1116
Combo Bundle CU 13E Subscription                         435
Name: BUNDLE_NAME, dtype: int64

In [173]:
mask_next["BUNDLE_NAME"].value_counts()

Voice/SMS Bundle CU Combo 500+100 Subscription        323914
Combo Bundle CU Student Xclusive 7 Subscription       130300
Combo Bundle CU 10E Subscription                       40112
Combo Bundle CU Student Xclusive 10 Subscription       36045
Combo Bundle CU 13E Subscription                       28946
Combo Bundle CU 700+700+700MB Subscription             18977
Combo Bundle CU Student Xclusive 12 Subscription       17855
Combo Bundle CU Student Xclusive 17.5 Subscription      1674
Name: BUNDLE_NAME, dtype: int64

# ADD PRICE COLUMN

In [174]:
# create a list of our conditions
conditions = [
    ((mask_prev["BUNDLE_NAME"] == 'Voice/SMS Bundle CU Combo 500+100 Subscription') | (mask_prev["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 10 Subscription')),
    ((mask_prev["BUNDLE_NAME"] == 'Combo Bundle CU 10E Subscription') | (mask_prev["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 12 Subscription')),
    (mask_prev["BUNDLE_NAME"] == 'Combo Bundle CU 13E Subscription'),
    (mask_prev["BUNDLE_NAME"] == 'Combo Bundle CU 700+700+700MB Subscription'),
    (mask_prev["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 7 Subscription'),
    (mask_prev["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 17.5 Subscription')
    ]

# create a list of the values we want to assign for each condition
values = [10, 12, 13.5, 15, 8.5, 17.5]

# create a new column and use np.select to assign values to it using our lists as arguments
mask_prev['BUNDLE_PRICE'] = np.select(conditions, values)


# display updated DataFrame
mask_prev.head()

,MONTH,DAY_MONTH,MSISDN,BUNDLE_NAME,BUNDLE_GROUP,TP_CATEGORY,NO_OF_SUBSCRIPTIONS,BUNDLE_REVENUE,ENHANCED_REFERENCE,REQUESTING_SYSTEM,BUNDLE_PRICE
0,01/03/2022 00:00:00,2022-03-01,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0
1,01/03/2022 00:00:00,2022-03-01,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,RECUR,IVR,10.0
2,01/03/2022 00:00:00,2022-03-01,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUsite,CUsite,10.0
3,01/03/2022 00:00:00,2022-03-01,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0
4,01/03/2022 00:00:00,2022-03-01,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,IVR,IVR,10.0

In [175]:
# create a list of our conditions
conditions = [
    ((mask_next["BUNDLE_NAME"] == 'Voice/SMS Bundle CU Combo 500+100 Subscription') | (mask_next["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 10 Subscription')),
    ((mask_next["BUNDLE_NAME"] == 'Combo Bundle CU 10E Subscription') | (mask_next["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 12 Subscription')),
    (mask_next["BUNDLE_NAME"] == 'Combo Bundle CU 13E Subscription'),
    (mask_next["BUNDLE_NAME"] == 'Combo Bundle CU 700+700+700MB Subscription'),
    (mask_next["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 7 Subscription'),
    (mask_next["BUNDLE_NAME"] == 'Combo Bundle CU Student Xclusive 17.5 Subscription')
    ]

# create a list of the values we want to assign for each condition
values = [10, 12, 13.5, 15, 8.5, 17.5]

# create a new column and use np.select to assign values to it using our lists as arguments
mask_next['BUNDLE_PRICE'] = np.select(conditions, values)


# display updated DataFrame
mask_next.head()

,MONTH,DAY_MONTH,MSISDN,BUNDLE_NAME,BUNDLE_GROUP,TP_CATEGORY,NO_OF_SUBSCRIPTIONS,BUNDLE_REVENUE,ENHANCED_REFERENCE,REQUESTING_SYSTEM,BUNDLE_PRICE
0,01/04/2022 00:00:00,2022-04-01,69XXXXXXXX,Combo Bundle CU 10E Subscription,CU COMBO,CU,1.0,12.0,RECUR,VOP,12.0
1,01/04/2022 00:00:00,2022-04-01,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0
2,01/04/2022 00:00:00,2022-04-01,69XXXXXXXX,Combo Bundle CU 10E Subscription,CU COMBO,CU,1.0,12.0,VF489,VFShop,12.0
3,01/04/2022 00:00:00,2022-04-01,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0
4,01/04/2022 00:00:00,2022-04-01,69XXXXXXXX,Combo Bundle CU 13E Subscription,CU COMBO,CU,1.0,13.5,IVR,IVR,13.5

# DUPLICATES

# PREVIOUS

In [176]:
mask_prev[mask_prev["MSISDN"].duplicated(keep=False)].shape

(103628, 11)

In [177]:
mask_prev = mask_prev.sort_values(by=['MSISDN'])

In [178]:
prev_duplicates = mask_prev[mask_prev["MSISDN"].duplicated(keep=False)]
prev_duplicates.head()

,MONTH,DAY_MONTH,MSISDN,BUNDLE_NAME,BUNDLE_GROUP,TP_CATEGORY,NO_OF_SUBSCRIPTIONS,BUNDLE_REVENUE,ENHANCED_REFERENCE,REQUESTING_SYSTEM,BUNDLE_PRICE
206902,01/03/2022 00:00:00,2022-03-05,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,VE284,VFShop,10.0
42785,01/03/2022 00:00:00,2022-03-19,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,VE284,VFShop,10.0
504030,NaN,2022-03-01,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
602253,NaN,2022-03-29,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
417245,01/03/2022 00:00:00,2022-03-24,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0

In [179]:
# count how many bundles purchased customers with more than 1
prev_duplicates.groupby(by=["MSISDN"]).size().value_counts()

2     42686
3      4103
4       881
5       251
6        90
7        39
8        19
9         7
11        5
10        4
17        1
16        1
12        1
dtype: int64

# Keep the higher bundle that purchased

In [180]:
mask_prev.sort_values(by=['BUNDLE_PRICE'], ascending=False)

,MONTH,DAY_MONTH,MSISDN,BUNDLE_NAME,BUNDLE_GROUP,TP_CATEGORY,NO_OF_SUBSCRIPTIONS,BUNDLE_REVENUE,ENHANCED_REFERENCE,REQUESTING_SYSTEM,BUNDLE_PRICE
482507,NaN,2022-03-13,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
560643,NaN,2022-03-27,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
618137,NaN,2022-03-15,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
560696,NaN,2022-03-13,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
553131,NaN,2022-03-17,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
...,...,...,...,...,...,...,...,...,...,...,...
477280,NaN,2022-03-06,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
549077,NaN,2022-03-10,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
562458,NaN,2022-03-11,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
523609,NaN,2022-03-19,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
480615,NaN,2022-03-03,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5

In [181]:
mask_prev = mask_prev.drop_duplicates(subset="MSISDN", keep="first")

In [182]:
mask_prev[mask_prev["MSISDN"].duplicated(keep=False)].shape

(0, 11)

In [183]:
mask_prev["BUNDLE_PRICE"].value_counts()

10.0    372026
8.5     127480
12.0     63394
15.0     10212
17.5       933
13.5       342
Name: BUNDLE_PRICE, dtype: int64

# NEXT

In [184]:
mask_next[mask_next["MSISDN"].duplicated(keep=False)].shape

(66552, 11)

In [185]:
mask_next = mask_next.sort_values(by=['MSISDN'])

In [186]:
next_duplicates = mask_next[mask_next["MSISDN"].duplicated(keep=False)]
next_duplicates.head()

,MONTH,DAY_MONTH,MSISDN,BUNDLE_NAME,BUNDLE_GROUP,TP_CATEGORY,NO_OF_SUBSCRIPTIONS,BUNDLE_REVENUE,ENHANCED_REFERENCE,REQUESTING_SYSTEM,BUNDLE_PRICE
251110,01/04/2022 00:00:00,2022-04-08,69XXXXXXXX,Combo Bundle CU 10E Subscription,CU COMBO,CU,1.0,12.0,CUapp,CUapp,12.0
392732,01/04/2022 00:00:00,2022-04-24,69XXXXXXXX,Combo Bundle CU 13E Subscription,CU COMBO,CU,1.0,13.5,CUapp,CUapp,13.5
280584,01/04/2022 00:00:00,2022-04-11,69XXXXXXXX,Combo Bundle CU 700+700+700MB Subscription,CU COMBO,CU,1.0,15.0,CUapp,CUapp,15.0
226676,01/04/2022 00:00:00,2022-04-05,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0
505074,NaN,2022-04-29,69XXXXXXXX,Combo Bundle CU Student Xclusive 12 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,12.0

In [187]:
# count how many bundles purchased customers with more than 1
next_duplicates.groupby(by=["MSISDN"]).size().value_counts()

2     28050
3      2443
4       481
5       131
6        48
7        13
8         9
10        3
9         3
11        2
14        1
dtype: int64

# Keep the higher bundle that purchased

In [188]:
mask_next.sort_values(by=['BUNDLE_PRICE'], ascending=False)

,MONTH,DAY_MONTH,MSISDN,BUNDLE_NAME,BUNDLE_GROUP,TP_CATEGORY,NO_OF_SUBSCRIPTIONS,BUNDLE_REVENUE,ENHANCED_REFERENCE,REQUESTING_SYSTEM,BUNDLE_PRICE
415675,NaN,2022-04-06,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
556374,NaN,2022-04-27,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
556809,NaN,2022-04-28,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
548931,NaN,2022-04-21,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
430548,NaN,2022-04-28,69XXXXXXXX,Combo Bundle CU Student Xclusive 17.5 Subscrip...,NaN,NaN,NaN,NaN,NaN,NaN,17.5
...,...,...,...,...,...,...,...,...,...,...,...
486410,NaN,2022-04-06,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
432242,NaN,2022-04-23,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
429469,NaN,2022-04-20,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
534962,NaN,2022-04-29,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
432234,NaN,2022-04-23,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5

In [189]:
mask_next = mask_next.drop_duplicates(subset="MSISDN", keep="first")

In [190]:
mask_next[mask_next["MSISDN"].duplicated(keep=False)].shape

(0, 11)

In [191]:
mask_next["BUNDLE_PRICE"].value_counts()

10.0    335300
8.5     126035
12.0     54286
13.5     27554
15.0     17742
17.5      1538
Name: BUNDLE_PRICE, dtype: int64

# MERGE PREV - NEXT !!!!!!!!!!!!!!!!!!!!

#  THA KANW LEFT JOIN GIATI THELW NA KRATHSW PERIPTWSEIS POU TON ENA MHN EVALE KAI TON ALLO DEN EVALE

In [192]:
mask_prev.shape
mask_next.shape

(574387, 11)

(562455, 11)

In [193]:
bundles_summary = mask_prev.merge(mask_next, how='left', on='MSISDN')
bundles_summary.head(4)

,MONTH_x,DAY_MONTH_x,MSISDN,BUNDLE_NAME_x,BUNDLE_GROUP_x,TP_CATEGORY_x,NO_OF_SUBSCRIPTIONS_x,BUNDLE_REVENUE_x,ENHANCED_REFERENCE_x,REQUESTING_SYSTEM_x,BUNDLE_PRICE_x,MONTH_y,DAY_MONTH_y,BUNDLE_NAME_y,BUNDLE_GROUP_y,TP_CATEGORY_y,NO_OF_SUBSCRIPTIONS_y,BUNDLE_REVENUE_y,ENHANCED_REFERENCE_y,REQUESTING_SYSTEM_y,BUNDLE_PRICE_y
0,01/03/2022 00:00:00,2022-03-07,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0,01/04/2022 00:00:00,2022-04-06,Combo Bundle CU 10E Subscription,CU COMBO,CU,1.0,12.0,CUapp,CUapp,12.0
1,01/03/2022 00:00:00,2022-03-17,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0,01/04/2022 00:00:00,2022-04-18,Combo Bundle CU 13E Subscription,CU COMBO,CU,1.0,13.5,CUapp,CUapp,13.5
2,NaN,2022-03-24,69XXXXXXXX,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5,NaN,2022-04-20,Combo Bundle CU Student Xclusive 7 Subscription,NaN,NaN,NaN,NaN,NaN,NaN,8.5
3,01/03/2022 00:00:00,2022-03-07,69XXXXXXXX,Voice/SMS Bundle CU Combo 500+100 Subscription,CU COMBO,CU,1.0,10.0,CUapp,CUapp,10.0,01/04/2022 00:00:00,2022-04-08,Combo Bundle CU 10E Subscription,CU COMBO,CU,1.0,12.0,CUapp,CUapp,12.0

In [194]:
# Fill NaNs
for column in bundles_summary.columns.values:
    if (bundles_summary[column].dtype == 'int64' or bundles_summary[column].dtype == 'float64'):
        bundles_summary[column] = bundles_summary[column].fillna(0)
    elif (bundles_summary[column].dtype == 'object'):
        bundles_summary[column] = bundles_summary[column].fillna("N/A")
    elif (bundles_summary[column].dtype == 'datetime64[ns]'):
        new_date =  dt.datetime(int(bundles_summary[column].dt.year.mean()), int(bundles_summary[column].dt.month.mean()) , int(bundles_summary[column].dt.day.mean()))
        bundles_summary[column] = bundles_summary[column].fillna(new_date)

In [195]:
bundles_summary.head(4)

In [196]:
bundles_summary.shape

(574387, 21)

# SHOW MIGRATIONS

In [197]:
bundles_summary.groupby(['BUNDLE_PRICE_x','BUNDLE_PRICE_y']).size()

BUNDLE_PRICE_x  BUNDLE_PRICE_y
8.5             0.0                26931
                8.5                91160
                10.0                6620
                12.0                1890
                13.5                 446
                15.0                 206
                17.5                 227
10.0            0.0                95992
                8.5                 5930
                10.0              241465
                12.0               12549
                13.5               10172
                15.0                5638
                17.5                 280
12.0            0.0                18472
                8.5                 2288
                10.0                9588
                12.0               26250
                13.5                3857
                15.0                2560
                17.5                 379
13.5            0.0                  268
                8.5                    1
                10.0                  12
                12.0                   7
                13.5                  46
                15.0                   8
15.0            0.0                 2758
                8.5                   37
                10.0                 909
                12.0                 659
                13.5                1066
                15.0                4760
                17.5                  23
17.5            0.0                  172
                8.5                   56
                10.0                 116
                12.0                 159
                13.5                  18
                15.0                  55
                17.5                 357
dtype: int64

In [198]:
migration_categories = bundles_summary.groupby(['BUNDLE_PRICE_x','BUNDLE_PRICE_y']).size()

In [199]:
bundles_summary['HIGHER_BUNDLE'] = 0

In [200]:
conditions = [
    ((bundles_summary["BUNDLE_PRICE_x"] > bundles_summary["BUNDLE_PRICE_y"]) | (bundles_summary["BUNDLE_PRICE_x"] == bundles_summary["BUNDLE_PRICE_y"])),
    (bundles_summary["BUNDLE_PRICE_x"] < bundles_summary["BUNDLE_PRICE_y"])   
    ]

# create a list of the values we want to assign for each condition
values = ["0", "1"]

bundles_summary['HIGHER_BUNDLE'] = np.select(conditions, values)

bundles_summary.head()

In [201]:
bundles_summary["HIGHER_BUNDLE"].value_counts()

0    529532
1     44855
Name: HIGHER_BUNDLE, dtype: int64

# RENAME - KEEP COLUMNS

In [202]:
#bundles_summary = bundles_summary.rename(mapper = {"BUNDLE_PRICE_x" : "BUNDLE_PRICE", "BUNDLE_PRICE_y" : "BUNDLE_PRICE_NEW"}, axis= 'columns')

In [203]:
bundles_summary = bundles_summary.drop(["BUNDLE_NAME_x", "BUNDLE_PRICE_x", "DAY_MONTH_x", "BUNDLE_GROUP_x", "TP_CATEGORY_x", "NO_OF_SUBSCRIPTIONS_x", "BUNDLE_REVENUE_x", "ENHANCED_REFERENCE_x", "REQUESTING_SYSTEM_x", "MONTH_x",
                                       "BUNDLE_NAME_y", "BUNDLE_PRICE_y", "DAY_MONTH_y", "BUNDLE_GROUP_y", "TP_CATEGORY_y", "NO_OF_SUBSCRIPTIONS_y", "BUNDLE_REVENUE_y", "ENHANCED_REFERENCE_y", "REQUESTING_SYSTEM_y", "MONTH_y"],axis="columns")

In [204]:
bundles_summary.head()

In [205]:
#bundles_summary = bundles_summary.drop(["BUNDLE_NAME_x", "BUNDLE_NAME_y"], axis='columns')

# SAVE

In [206]:
bundles_summary.to_csv(out_dir)